<h1><%= @wizard.name %></h1>

<p><%= @wizard.name %> is a wizard who studies the power of <%= @wizard.power %> and uses a wand type of <%= @wizard.wand_type %>. This particular wizard is <%= @wizard.age %> years old and has a beard color of <%= @wizard.beard_color %>
</p>

<a href="/wizard">Go Back</a>
